@model VetClinic.Data.Entities.Appointment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutViews.cshtml";
}

<center>
    <h1>
        Edit
    </h1>
</center>

<br />

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OwnerId" />
            <input type="hidden" asp-for="AnimalId" />
            <input type="hidden" asp-for="DoctorId" />
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>

