
@{
    ViewData["Title"] = "NotAuthorized";
    Layout = "~/Views/Shared/_LayoutViews.cshtml";
}


<center>
    <h1>
        Not Authorized
    </h1>
    <br />
    <br />
    You do not have permission to access this page.
</center>



