
@{
    ViewData["Title"] = "AR";
    Layout = "~/Views/Shared/_LayoutViews.cshtml";
}

<center>
    <h1>Appointment Reminder</h1>
    <br />
    <br />
    Let clients know they have an appointment tomorrow.
    <br />
    <br />
    <a asp-controller="Home" asp-action="EnviaMailAR" class="btn btn-primary">
        Send Emails
    </a>
</center>

