
@{
    ViewData["Title"] = "Communication";
    Layout = "~/Views/Shared/_LayoutViews.cshtml";
}


<Center>

    <h1>
        Communication
    </h1>

    <br />
    <br />

    <p>
        <a asp-controller="Home" asp-action="UC" class="btn btn-warning">Unexpected Closing</a>
    </p>

    <br />

    <p>
        <a asp-controller="Home" asp-action="AR" class="btn btn-warning">Appointment Reminder</a>
    </p>

    <br />

    <p>
        <a asp-controller="Home" asp-action="AC" class="btn btn-warning">Appointment Cancelation</a>
    </p>

</Center>

