
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_LayoutViews.cshtml";
}

<center>
    <h1>
        Error 404
    </h1>
    <br />
    <br />
    This page does not exist.
</center>

