@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 offset-md-2">
                                <div class="slider_detail-box">
                                    <h1>
                                        Professional
                                        <span>
                                            Care For Your Pet
                                        </span>
                                    </h1>
                                    <p>
                                        We offer the best equipment and professionals
                                        so you can have the best experience possible
                                        with your pet.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slider_img-box">
                                    <img src="images/slider-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 offset-md-2">
                                <div class="slider_detail-box">
                                    <h1>
                                        Professional
                                        <span>
                                            And worry free!
                                        </span>
                                    </h1>
                                    <p>
                                        With our services we not only provide
                                        a relaxed ambience for your pet but also
                                        for you!
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slider_img-box">
                                    <img src="images/doggo.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/about.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <h2 class="custom_heading">
                            About Our Pets
                            <span>
                                Clinic
                            </span>
                        </h2>
                        <p>
                            We have established a business that revolves around
                            the well-being of our furry customers. By making every
                            procedure go as smooth as possible. We worry only about
                            our clients.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- service section -->
    <section class="service_section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-2">
                    <h2 class="custom_heading">
                        Our <span>Services</span>
                    </h2>
                    <div class="container layout_padding2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img_box">
                                    <img src="images/s-1.png" alt="">
                                </div>
                                <div class="detail_box">
                                    <h6>
                                        Routine check-ups and shots
                                    </h6>
                                    <p>
                                        We offer routine check-ups
                                        and we vaccinate animals
                                        with certified shots.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="img_box">
                                    <img src="images/s-2.png" alt="">
                                </div>
                                <div class="detail_box">
                                    <h6>
                                        Pet Hotel
                                    </h6>
                                    <p>
                                        We also offer a special
                                        stay-in service for when
                                        you need a little break.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="img_box">
                                    <img src="images/s-3.png" alt="">
                                </div>
                                <div class="detail_box">
                                    <h6>
                                        Emergency
                                    </h6>
                                    <p>
                                        In case of emergency our
                                        sevices are open 24/7 and
                                        we will be here to aid you.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="images/tool.png" alt="" class="w-100">
                </div>
            </div>
        </div>
    </section>
    <!-- end service section -->
    <!-- client section -->
    <section class="client_section layout_padding-bottom">
        <div class="container">
            <h2 class="custom_heading text-center">
                Our very own
                <span>
                    Team and Specialties
                </span>
            </h2>
            <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
                    <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="layout_padding2 pl-100">
                            <div class="client_container ">
                                <div class="img_box">
                                    <img src="images/client.jpg" alt="">
                                </div>
                                <div class="detail_box">
                                    <h5>
                                        Sandy Mark
                                    </h5>
                                    <p>
                                       Sandy Mark is a specialist in vaccination services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="layout_padding2 pl-100">
                            <div class="client_container ">
                                <div class="img_box">
                                    <img src="images/KyleIrwin.jpg" height="140" alt="">
                                </div>
                                <div class="detail_box">
                                    <h5>
                                        Kyle Irwin
                                    </h5>
                                    <p>
                                        Kyle Irwin is a medical emergencies specialist and
                                        won several prizes last year for saving 3 army dogs
                                        after a military mission abroad.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="layout_padding2 pl-100">
                            <div class="client_container ">
                                <div class="img_box">
                                    <img src="images/smile.jpg" height="140" alt="">
                                </div>
                                <div class="detail_box">
                                    <h5>
                                        Loretta Fiagio
                                    </h5>
                                    <p>
                                        Loretta is our puppy hotel manager and
                                        the first doctor on our team that specializes
                                        in dog psychology
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </section>
    <!-- end client section -->
</div>