
@{
    ViewData["Title"] = "UC";
    Layout = "~/Views/Shared/_LayoutViews.cshtml";
}

<center>
    <h1>Unexpected closing</h1>
    <br />
    <br />
    Let clients know our clinic will be closed today.
    <br />
    <br />
    <a asp-controller="Home" asp-action="EnviaMailUC" class="btn btn-primary">
        Send Emails
    </a>
</center>




